{% extends "layout.html" %}

{% block stylesheet %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
    <h1>Timesheets Page</h1>
    <div class="container mt-5 mb-5">
        <div >
            Date
            <input type="text" class="form-control" id="picker" size="300px">            
        </div>
    </input>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#picker').datepicker({
                format: 'MM/dd/yyyy',
                autoclose: true
            })
        })
    </script>
{% endblock script %}