{% extends "layout.html" %}

{% block header %}
    <title>KC TimeTracker - Todo</title>
{% endblock header %}

{% block content %}
    <div>
		 <h2 class="text-primary">Todo</h2>
		 <div>
			{% if todo.date_completed %}
			<h3 class="text-success">{{ todo.title }}</h3>
			<pre class="text-success">{{ todo.description }}</pre>					
			{% else %}
				<h3 class="text-danger">{{ todo.title }}</h3>
				<pre class="text-danger">{{ todo.description }}</pre>						
			{% endif %}

			date created: {{ todo.date_created }}
			{% if todo.date_completed %}
			date completed: {{ todo.date_completed }}
			{% endif %}
			<br><br>
			<a href="{{ url_for('todos.update_todo', todo_id=todo.id) }}" class="btn btn-warning btn-sm ml-2 mt-1 mb-1">
				<i class="fa fa-edit-circle"></i> edit
			</a>
			<button type="button" class="btn btn-dark btn-sm m-1" data-toggle="modal" data-target="#completeModal">Complete</button>
			<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>		
		 </div>
	 </div>

	<!-- Modal -->
	<div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="completeModalLabel">Complete Todo?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<form action="{{ url_for('todos.complete_todo', todo_id=todo.id) }}" method="POST">
						<input class="btn btn-danger" type="submit" value="Complete">
					</form>
				</div>
			</div>
		</div>
	</div>	 

	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Delete Todo?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<form action="{{ url_for('todos.delete_todo', todo_id=todo.id) }}" method="POST">
						<input class="btn btn-danger" type="submit" value="Delete">
					</form>
				</div>
			</div>
		</div>
	</div>	
{% endblock content %} 