.hp {
    color: blue; 
    text-align: center;
    font-size: 72px;
    font-family: fantasy;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p1 {
    color: purple
    
}

.p2 {
    color: teal
}