{% extends "layout.html" %}

{% block content %}
    <h1>Home Page</h1>
    <p>
        This is a time tracker for daily activity. The user can
    </p>
    <ul>
        <li>add, edit or delete subjects</li>
        <li>add, edit or delete tasks</li>
        <li>add, edit or delete timesheet</li>
        <li>export the timesheets into excel sheet</li>                                    
    </ul>
{% endblock content %} 
<!-- <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/site.css">        
        <title>KC TimeTracker - Home</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <p>
            This is a time tracker for daily activity. The user can
        </p>
        <ul>
            <li>add, edit or delete subjects</li>
            <li>add, edit or delete tasks</li>
            <li>add, edit or delete timesheet</li>
            <li>export the timesheets into excel sheet</li>                                    
        </ul>
    </body>
</html> -->