{% extends "layout.html" %}

{% block header %}
    <title>KC TimeTracker - Register</title>
{% endblock header %}

{% block content %}
	<div class="content-section">
		<form>
			<fieldset class="form-group">
				<legend>Register Form</legend>
				<div>
					{{form.username.label(class="form-control-label")}}
					{{form.username(class="form-control form-control-lg")}}
				</div>
				<div>
					{{form.email.label(class="form-control-label")}}
					{{form.email(class="form-control form-control-lg")}}
				</div>		
				<div>
					{{form.password.label(class="form-control-label")}}
					{{form.password(class="form-control form-control-lg")}}
				</div>
				<div>
					{{form.confirm_password.label(class="form-control-label")}}
					{{form.confirm_password(class="form-control form-control-lg")}}
				</div>										
			</fieldset>
			<div class="form-group">
				{{form.submit(class="btn btn-outline-info")}}
			</div>
		</form>
	</div>
{% endblock content %} 